html {
  margin: 0;
  padding: 0;
}

/* default font family and size */
body {
	font-family: 'Montserrat', serif;
  font-size: 15px;
  background-image: url(images/background/subtle_white_mini_waves.png);
  text-align: center;
}

/* Styling Logo */
header {
  height:140px;
	background-color: #403933;
}
.name {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 75px;
  text-align: center;
  color: #c5c0b8;
  padding: 18px 0 0 0;
}
header h2 {
  text-align: center;
  color: #c5c0b8;
  font-size: 18px; 
  margin: 0px;
  font-weight: normal;
}


/* Main section starts here*/
main img {
width: 88%;
border-radius: 2%;
border: 1px solid #A9A9A9
}

/* List align correction */
.align-left {
  text-align: left;
}

/* Center sections & article */
section, article {
	padding: 0 22% 0 22%;
  margin: 60px 0;
}

/* Styling content */
p, li {
 font-family: 'Montserrat', sans-serif;
 line-height: 1.8em;
 margin-bottom: 0;
}

/* Styling specific section */
.bigger-font {
  font-size: 18px;
}

/* Styling specific section(2) */
.wider-padding {
padding: 0 0 0 10%;
}

/* Footer styling */
footer {
  background-color: #403933;
}
footer p {
	color: #fff;	
	text-align: center;
  padding: 30px;
  margin: 0;
}

/* Styling link */

a {
	font-weight: 501;
}
a:link { color: #38786a; }
a:visited { color: #38786a; }
a:hover { color: #403933; }
a:active { color: #403933; }